.list-products-container{
    display: flex;
}
.cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 26px 31px;
    gap: 11px;
    width: 75%;
}
.cards a {
    text-decoration: none;
    color: black;
}

.card img {
    height: 116px;
    width: 118px;
    display: block;
    margin: 0 auto;
}

.card h3, p {
    text-align: center;
    font-size: 15px;
    margin-top: 9px;
}
/* .card h3,p {
    text-align: center;
} */
.card p span {
    font-weight: 600;
    font-size: 16px;
    color: rgb(15, 19, 19);
}

.card button {
    display: block;
    width: 43%;
    padding: 8px;
    margin: 13px 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 13px;
    margin-top: 13px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    border: 1px solid darkslategray;
    transition: all 0.5s;
    text-transform: capitalize;
   
}
.card button:hover{
    background-color: aquamarine;
    border:none
}

.add-to-card {
    border: 1px solid black;
    border-radius: 2px;
    position: sticky;
    top: 0;
    width: 17%;
    margin-top: 24px;
    background: orange;
    height: 369px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}




/* custom */



/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-size: 12px;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* custom */
/* responsive  */
@media screen and (max-width:992px) {
    .list-products-container{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .add-to-card {
        width: 78%;
        height: 232px;
    }
    .add-card p {
        text-align: center;
    }
    .cards {
        display: grid;
        grid-template-columns: auto auto auto ;
    }
}

@media screen and (max-width:768px) {
    .cards {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:540px) {
    .cards {
        display: grid;
        grid-template-columns: auto;
    }
    .add-to-card {
        width: 100%;
    
    }
}