.products-details-container{
    display: flex;
}

.product-details img {
    width: 260px;
    height: 230px;
    display: block;
    margin: 0 auto;
}
.product-details {
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 401px;
    display: block;
    height: 431px;
    margin: 16px auto;
}
.product-details h3 {
    text-align: center;
    margin: 9px 0;
    color: palevioletred;
}
h1{
    background-color: orange;
    text-align: center;
    padding: 10px
}
.product-details span {
    color: #ed2b2b;
    font-size: 20px;
}

.product-details button {
    display: block;
    width: 25%;
    padding: 8px;
    margin: 13px 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 13px;
    margin-top: 13px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    border: 1px solid darkslategray;
    transition: all 0.5s;
    text-transform: capitalize;
}

.product-details button:hover{
    background-color: aquamarine;
    border:none
}
.description {
    text-align: start;
    margin: 5px 0;
}



/* responsive */

@media screen and (max-width:540px) {
    .product-details {
        width: 82%;
        height: 100%;
    }
     .product-details img {
         width: 180px;
       height: 170px;
        
    }
    .img-container {
        display: flex;
        justify-content: center;
    } 
}